<div class='container'

<h1>Edit Task</h1>

<%= render partial: "form", locals: {button_name: "Edit Task"}  %>

<u><%= link_to "Show", task_path(@task) %></u>
|
<u><%=  link_to "Back", tasks_path %></u>
</div>
