<div class='container'>

<h1>Edit Task</h1>
<ol class="breadcrumb">
  <li> <%= link_to "Tasks", tasks_path %></li>
  <li class="active">Edit Task</li>
</ol>
<hr>

<%= render partial: "form"%>

<u><%= link_to "Show", task_path(@task) %></u>
|
<u><%=  link_to "Back", tasks_path %></u>
</div>
