<div class="container">
  <h1>
   <%= @task.description %>
      <div class='pull-right'>
        <%=  link_to "Edit", edit_task_path, class: "btn btn-info" %>
      </div>
  </h1>
  <hr>
</hr>
  <ol class="breadcrumb">
    <li> <%= link_to "Tasks", tasks_path %></li>
  <li class="active"> <%= @task.description %></li>
  </ol>
</div>
