<div class=container>


<div class="page-header">
  <h1>Terms</h1>
</div>
  <p>
   gCamp not responsible for anythign unless it's positive.
  </p>
  <br>
  <br>
  <p>
  You may not take us to courst. For anything. Ever.
  </p>
</div>
