<div class=container>


  <div class="page-header">
    <h1>About</h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag('about_page.jpg', class: 'img-responsive')%>
      <br>
      <div class="panel panel-info">
        <div class="panel-heading">Tasks</div>
        <div class="panel-body">
          Grouped by projects and lists. Just the way you like'em
        </div>
      </div>
    </div>
